!!! 5
%html
  %head
    %link{ href:'bootstrap/css/bootstrap.css', rel:'stylesheet' }
    %link{ href:'style.css', rel:'stylesheet' }
    %script{ src:"http://localhost:35729/livereload.js" }
    %title
      Random Imgur

    %script{ type: 'text/template', id:"controlbox-view-template" }
      %p
        This page has loaded 
        %span.totalCounter 0
         random imgur urls, 
        %span.existantCounter 0
         of which were actual images.  
        Based on this sample, imgur's 5-char keyspace is 
        %span.percent 0
        \% full.
      %p
        Made by 
        %a{ href:'http://www.kevinkuchta.com' } Kevin Kuchta.
         Fork me on 
        %a{ href:'http://www.github.com/kkuchta/RandomImagur2' } Github.
      %p
        %a.kittenModeToggle{ href:'#' } Toggle Kitten Mode


  %body

    #image-container

    %script{ type: 'text/javascript', src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js' }
    %script{ type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js' }
    %script{ type: 'text/javascript', src: 'json2.js' }
    %script{ type: 'text/javascript', src: 'backbone.js' }
    %script{ type: 'text/javascript', src: 'masonry.pkgd.min.js' }
    %script{ type: 'text/javascript', src: 'ImgurStore.js' }
    %script{ type: 'text/javascript', src: 'models.js' }
    %script{ type: 'text/javascript', src: 'views.js' }
